.contacts {
  width: 50%;
  max-width: 683px;
  margin-right: auto;
  padding: 60px 120px 43px;

  @media (max-width: $vp-1199) {
    width: 100%;
    margin-right: 0;
    padding: 57px 0 40px 129px;
  }

  @media (max-width: $vp-767) {
    margin: 65px 0 40px;
    padding: 0 15px;
  }
}

.contacts__body {
  display: flex;
  flex-direction: column;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
  }
}

.contacts__list {
  position: relative;
}

.contacts__list--first {
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    border-right: 1px solid #74819c;
    height: 90%;
    bottom: 8%;
    right: -14%;

    @media (max-width: $vp-1199) {
      height: 89%;
      right: -9px;
    }

    @media (max-width: $vp-767) {
      display: none;
    }
  }
}

.contacts h2 {
  font: {
    family: $alumni-sans-600;
    size: 54px;
  }
  line-height: 59px;
  letter-spacing: 0.03em;
  padding-bottom: 41px;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    padding: 0 0 31px 4px;
  }

  @media (max-width: $vp-767) {
    font: {
      size: 32px;
    }
    line-height: 35px;
    padding: 0 0 39px;
  }
}

.contacts__list h3 {
  font: {
    family: $roboto-condensed-700;
    size: 16px;
  }
  line-height: 24px;
  padding-bottom: 2px;

  @media (max-width: $vp-1199) {
    font-size: 20px;
    padding-bottom: 12px;
  }
}

.contacts__list li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @media (max-width: $vp-1199) {
    margin-bottom: 25px;
  }
}

.contacts__list span,
.contacts__list a {
  font: {
    family: $roboto-condensed-400;
    size: 14px;
  }
  line-height: 21px;
  cursor: default;

  @media (max-width: $vp-1199) {
    font-size: 18px;
  }
}

.contacts__list a {
  cursor: pointer;
  width: 116px;

  @include hover-focus {
    filter: drop-shadow(0 0 20px $color-default-black);
    transition: 0.3s;
  }
}

.contacts__list:first-child {
  padding-left: 4px;

  @media (max-width: $vp-767) {
    padding-left: 0;
  }
}

.contacts__list:last-child {
  padding-left: 87px;

  @media (max-width: $vp-1199) {
    padding-left: 56px;
  }

  @media (max-width: $vp-767) {
    padding-left: 0;
  }
}

.contacts__item--tel a {
  width: 116px;

  @media (min-width: $vp-1199) {
    width: 90px;
  }
}

.contacts__item--email a {
  width: 141px;

  @media (min-width: $vp-1199) {
    width: 110px;
  }
}
