@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "AlumniSans-600";
  font-display: swap;
  src: url("../fonts/AlumniSans-600.woff2") format("woff2"), url("../fonts/AlumniSans-600.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "AlumniSans-700";
  font-display: swap;
  src: url("../fonts/AlumniSans-700.woff2") format("woff2"), url("../fonts/AlumniSans-700.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "AlumniSans-800";
  font-display: swap;
  src: url("../fonts/AlumniSans-800.woff2") format("woff2"), url("../fonts/AlumniSans-800.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "RobotoCondensed-300";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-300.woff2") format("woff2"), url("../fonts/RobotoCondensed-300.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "RobotoCondensed-400";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-400.woff2") format("woff2"), url("../fonts/RobotoCondensed-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "RobotoCondensed-700";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-700.woff2") format("woff2"), url("../fonts/RobotoCondensed-700.woff") format("woff");
}
